*.figlayout
*.pdf
*.jpg
*.png
*.svg
*.jpeg
*.tif
*.tiff
Guideline.md
Timeline.md
Timeline_zh.md
*.exe
*.spec
/build
/dist
build_exe.cmd
__pycache__/
*.pyc
.env
venv/
.venv
/dist_nuitka
nuitka-crash-report.xml